<main class="flex center">
	<section class="bg-white c-black flex-c">
		<h2 class="fw700">Home</h2>
		<div class="w90 center-sy flex-c center-y">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut commodi culpa cum
				debitis, dignissimos ea eveniet explicabo harum ipsa nihil numquam placeat, sit vero! Amet deserunt
				doloribus sequi.
			</p>
			<p>
				Ad alias architecto corporis debitis delectus deleniti doloribus eius, est id itaque magnam magni nam
				numquam pariatur repellendus reprehenderit similique ullam unde vel velit veniam voluptatem
				voluptatibus. Earum, mollitia, voluptatibus!
			</p>
			<p>
				Adipisci aut commodi consequuntur, dolore et fuga id illo inventore magni natus numquam placeat sequi,
				similique voluptas voluptatibus! Impedit nulla reiciendis rerum sed tempore? Consequatur eos iste
				laudantium saepe ut!
			</p>
			<p>
				Accusamus architecto, aspernatur at, cum debitis ducimus eligendi, excepturi hic illo inventore ipsa
				odit omnis porro provident quaerat quidem rerum sapiente voluptatibus? Asperiores consectetur eum ipsum
				neque perferendis repellendus sed.
			</p>
		</div>
	</section>
</main>
