<footer class="bg-d-blue c-white flex center-x">
	<div class="flex center">
		<p class="m0 flex-c gap2">
			<small>{{ footer.title }}</small>
			<span>{{ footer.name }}</span>
			<span class="flex sb gap16">
				<small>{{ footer.RA }}</small>
				<a href="{{ footer.gitHub.link }}" target="_blank"
				   class="c-red f-dec-n flex-i gap4 a-hover">
					<span class="a-hover-tu">{{ footer.gitHub.label }}</span>
					<mat-icon class="w-i h-i fs16 a-hover-ts">{{ footer.gitHub.icon }}</mat-icon>
				</a>
			</span>
		</p>
	</div>
</footer>
